body{
  
  width: 100vw;
}
.main{
  width: 50%;
  padding: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}


h1 {
  align-items: center;
  justify-content: center;
  color: aqua;
  display: flex;
  right: -10px;
}