body{
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

#root{
  display: flex;
  width: 100%;
  padding: 100px;
  gap: 50px;
}
.main{
  width: 100%;
}

.card-div{
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 50px;

}