@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0px;
  margin: 0px;
}
body{
  height: 100vh;
}

nav{
  padding: 30px;
  background: rgb(1, 96, 76);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.link{
  text-decoration: none;
  color: antiquewhite;
  padding: 10px;
}

#root h1{
  align-items: center;
  justify-content: center;
  display: flex;
  height: max-content;
}