*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: black;
  color:aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
div{
  align-items: center;
  justify-content: center;


}
h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

body button{
  background: mediumspringgreen;
  font-size: larger;
  padding: 10px;
  margin: 10px;

}