body{
  
  width: 100vw;
}
.main{
  width: 50%;
  padding: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.main:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.img_container{
  height: 50px;
  display: flex;
  background: #000;
  border-radius: 50px;
}
img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  object-fit: cover;

  &:hover {
    transform: scale(1.1);
  }
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100px;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  align-items: center;
  justify-content: center;
  color: aqua;
  display: flex;
  right: -10px;
}